---
// icon names are from https://github.com/onemarc/tech-icons/tree/main/icons

const FRONTEND_ICONS = [
  {
    label: "Typescript",
    icon: "typescript",
  },
  { label: "React", icon: "react-dark" },
  { label: "Vite", icon: "vitejs" },
  { label: "Vitest", icon: "vitest" },
  { label: "NextJS", icon: "nextjs-dark" },
  { label: "CSS3", icon: "css" },
  { label: "Playwright", icon: "playwright-dark" },
  { label: "Storybook", icon: "storybook" },
  { label: "Github Actions", icon: "githubactions-dark" },
  { label: "Git", icon: "git" },
];
const BACKEND_ICONS = [
  {
    label: "Typescript",
    icon: "typescript",
  },
  { label: "Node", icon: "node" },
  { label: "NextAuth", icon: "graphql" },
  { label: "Jest", icon: "jestjs" },
  { label: "AWS", icon: "aws" },
  { label: "DynamoDB", icon: "dynamodb-dark" },
  { label: "Docker", icon: "docker-dark" },
  { label: "Prisma", icon: "prisma-dark" },
  { label: "Express", icon: "expressjs-dark" },
  { label: "NextAuth", icon: "nextauthjs-dark" },
];
const DESIRABLE_ICONS = [
  { label: "tRPC", icon: "trpc-dark" },
  { label: "Ruby", icon: "ruby-dark" },
  { label: "Vercel", icon: "vercel-dark" },
  { label: "Go", icon: "go-dark" },
];

const getImageUrl = (technology: (typeof FRONTEND_ICONS)[0]["label"]) =>
  `https://raw.githubusercontent.com/onemarc/tech-icons/main/icons/${technology.toLowerCase()}.svg`;
---

<h3>On the front-end</h3>

<div class="tech-stack">
  {
    FRONTEND_ICONS.map(({ label, icon }) => (
      <div>
        <img title={label} src={getImageUrl(icon)} />
        <small>{label}</small>
      </div>
    ))
  }
</div>

<h3>On the back-end</h3>

<div class="tech-stack">
  {
    BACKEND_ICONS.map(({ label, icon }) => (
      <div>
        <img title={label} src={getImageUrl(icon)} />
        <small>{label}</small>
      </div>
    ))
  }
</div>

<!-- <h3>Tech I&apos;d like to work with...</h3>

<div class="tech-stack">
  {
    DESIRABLE_ICONS.map(({ label, icon }) => (
      <div>
        <img title={label} src={getImageUrl(icon)} />
        <small>{label}</small>
      </div>
    ))
  }
</div> -->

<style>
  .tech-stack {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, [col-start] 1fr);

    @media (min-width: 375px) {
      grid-template-columns: repeat(4, [col-start] 1fr);
    }

    @media (min-width: 428px) {
      grid-template-columns: repeat(6, [col-start] 1fr);
    }

    @media (min-width: 767px) {
      grid-template-columns: repeat(8, [col-start] 1fr);
    }
  }
  .tech-stack > div {
    display: grid;
    align-content: start;
    text-align: center;
  }

  .tech-stack > div small {
    margin-top: 0.5rem;
  }
</style>
