---
// icon names are from https://github.com/onemarc/tech-icons/tree/main/icons
const getImageUrl = (technology: string) =>
  `https://raw.githubusercontent.com/onemarc/tech-icons/main/icons/${technology.toLowerCase()}.svg`;
const getImageV2Url = (technology: string) =>
  `https://raw.githubusercontent.com/onemarc/tech-icons/main/icons%232/${technology.toLowerCase()}.svg`;

const FRONTEND_ICONS = [
  { label: "Typescript", icon: getImageUrl("typescript") },
  { label: "React", icon: getImageUrl("react-dark") },
  { label: "Vite", icon: getImageUrl("vitejs") },
  { label: "Vitest", icon: getImageUrl("vitest") },
  { label: "NextJS", icon: getImageUrl("nextjs-dark") },
  { label: "CSS3", icon: getImageUrl("css") },
  { label: "Playwright", icon: getImageUrl("playwright-dark") },
  { label: "Storybook", icon: getImageUrl("storybook") },
  { label: "Github Actions", icon: getImageUrl("githubactions-dark") },
  { label: "Git", icon: getImageUrl("git") },
];

const BACKEND_ICONS = [
  { label: "Typescript", icon: getImageUrl("typescript") },
  { label: "Node", icon: getImageUrl("node") },
  { label: "NextAuth", icon: getImageUrl("graphql") },
  { label: "Jest", icon: getImageUrl("jestjs") },
  { label: "AWS", icon: getImageV2Url("aws") },
  { label: "DynamoDB", icon: getImageUrl("dynamodb-dark") },
  { label: "Docker", icon: getImageUrl("docker-dark") },
  { label: "Prisma", icon: getImageUrl("prisma-dark") },
  { label: "Express", icon: getImageUrl("expressjs-dark") },
  { label: "NextAuth", icon: getImageUrl("nextauthjs-dark") },
];
const DESIRABLE_ICONS = [
  { label: "tRPC", icon: getImageUrl("trpc-dark") },
  { label: "Ruby", icon: getImageUrl("ruby-dark") },
  { label: "Vercel", icon: getImageUrl("vercel-dark") },
  { label: "Go", icon: getImageUrl("go-dark") },
];
---

<h3>On the front-end</h3>

<div class="tech-stack">
  {
    FRONTEND_ICONS.map(({ label, icon }) => (
      <div>
        <img title={label} src={icon} />
        <small>{label}</small>
      </div>
    ))
  }
</div>

<h3>On the back-end</h3>

<div class="tech-stack">
  {
    BACKEND_ICONS.map(({ label, icon }) => (
      <div>
        <img title={label} src={icon} />
        <small>{label}</small>
      </div>
    ))
  }
</div>

<!-- <h3>Tech I&apos;d like to work with...</h3>

<div class="tech-stack">
  {
    DESIRABLE_ICONS.map(({ label, icon }) => (
      <div>
        <img title={label} src={getImageUrl(icon)} />
        <small>{label}</small>
      </div>
    ))
  }
</div> -->

<style>
  .tech-stack {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, [col-start] 1fr);

    @media (min-width: 375px) {
      grid-template-columns: repeat(4, [col-start] 1fr);
    }

    @media (min-width: 428px) {
      grid-template-columns: repeat(6, [col-start] 1fr);
    }

    @media (min-width: 767px) {
      grid-template-columns: repeat(8, [col-start] 1fr);
    }
  }
  .tech-stack > div {
    display: grid;
    align-content: start;
    text-align: center;
  }

  .tech-stack > div small {
    margin-top: 0.5rem;
  }
</style>
