---
// icon names are from https://github.com/onemarc/tech-icons/tree/main/icons
const getImageUrl = (technology: string) =>
  `https://icon.icepanel.io/Technology/svg/${technology}.svg`;

const FRONTEND_ICONS = [
  { label: "Typescript", icon: getImageUrl("TypeScript") },
  { label: "React", icon: getImageUrl("React") },
  { label: "Vite", icon: getImageUrl("Vite.js") },
  { label: "Vitest", icon: getImageUrl("Vite.js") },
  { label: "NextJS", icon: getImageUrl("Next.js") },
  { label: "CSS3", icon: getImageUrl("CSS3") },
  { label: "Playwright", icon: getImageUrl("Playwrite") },
  { label: "Storybook", icon: getImageUrl("Storybook") },
  { label: "Astro", icon: getImageUrl("Astro") },
  { label: "Github Actions", icon: getImageUrl("GitHub-Actions") },
  { label: "Git", icon: getImageUrl("Git") },
];

const BACKEND_ICONS = [
  { label: "Typescript", icon: getImageUrl("TypeScript") },
  { label: "Node", icon: getImageUrl("Node.js") },
  { label: "Graphql", icon: getImageUrl("GraphQL") },
  { label: "Jest", icon: getImageUrl("Jest") },
  { label: "Lambda", icon: getImageUrl("AWS") },
  { label: "DynamoDB", icon: getImageUrl("AWS") },
  { label: "Docker", icon: getImageUrl("Docker") },
  { label: "Prisma", icon: getImageUrl("Node.js") },
  { label: "Kafka", icon: getImageUrl("Apache-Kafka") },
  { label: "OpenAPI", icon: getImageUrl("OpenAPI") },
  { label: "Fastify", icon: getImageUrl("Fastify") },
  { label: "Express", icon: getImageUrl("Express") },
  { label: "Vercel", icon: getImageUrl("Vercel") },
  // { label: "NextAuth", icon: getImageUrl("Nextauthjs") },
];
const DESIRABLE_ICONS = [
  { label: "tRPC", icon: getImageUrl("Trpc") },
  { label: "Ruby", icon: getImageUrl("Ruby") },
  { label: "Vercel", icon: getImageUrl("Vercel") },
  { label: "Go", icon: getImageUrl("Go") },
];
---

<h3>On the front-end</h3>

<div class="tech-stack">
  {
    FRONTEND_ICONS.map(({ label, icon }) => (
      <div>
        <img title={label} src={icon} />
        <small>{label}</small>
      </div>
    ))
  }
</div>

<h3>On the back-end</h3>

<div class="tech-stack">
  {
    BACKEND_ICONS.map(({ label, icon }) => (
      <div>
        <img title={label} src={icon} />
        <small>{label}</small>
      </div>
    ))
  }
</div>

<!-- <h3>Tech I&apos;d like to work with...</h3>

<div class="tech-stack">
  {
    DESIRABLE_ICONS.map(({ label, icon }) => (
      <div>
        <img title={label} src={getImageUrl(icon)} />
        <small>{label}</small>
      </div>
    ))
  }
</div> -->

<style>
  .tech-stack {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, [col-start] 1fr);

    @media (min-width: 375px) {
      grid-template-columns: repeat(4, [col-start] 1fr);
    }

    @media (min-width: 428px) {
      grid-template-columns: repeat(6, [col-start] 1fr);
    }

    @media (min-width: 767px) {
      grid-template-columns: repeat(8, [col-start] 1fr);
    }
  }
  .tech-stack > div {
    display: grid;
    align-content: start;
    text-align: center;
  }

  .tech-stack > div small {
    margin-top: 0.5rem;
  }
</style>
